
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 3rem;

}

header .nav-links{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}
header .nav-links img{
    width: 10rem;
}


 header .search{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #1d1d1d;
    border: 1px solid #464748;
    padding: 10px;
    border-radius: 8px;
}

 header .search input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}
header .search i{
    color: white;
    width: 2rem;
}
.form{
    width: 40%;
    position: relative;
}
.form .display{
    position: absolute;
    width: 100%;
    top: 90%;
    left: 0%;
}
.form .display ul{
    background-color: #1d1d1d;
    color: white;
    width: 100%;
}

.left{
    width: 60%;
}

.trending {
    margin: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.trending .container{
    width: 85%;
    justify-content: space-between;
    align-items: center;
}
.trending #top{
    margin: 1rem auto;
}
.trending .container .img img{
width: 8rem;
}


.right{
    width: 35%;
}
.player-container {
    border-radius: 10px;
    padding-top:2.75rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#202026;
}
.player-container p{
    margin: 0%;
}

.player-card {
    padding: 1rem;
    padding-top: 0%;
    text-align: center;
    color: white;
    width: 95%;
}



@media screen and (max-width: 990px){
    .card-body{
        align-items: center;
        padding: 0rem;
        justify-content: space-between;
    }
   
    .card-body p{
        display: none;
    }
    .card #list{
        width: 80%;
    }
}

@media screen and (max-width: 750px){
    
    .trending  #top .text h5{
        display: none;

    }
    .trending  #top img{
        width: 5rem;
    }
    .allsongs .list{
        height: 11rem;
        overflow-y: scroll;
    }
    .card-body h5{
        font-size: 1rem;
    }

}

@media screen and (max-width: 610px){

    .trending{
        margin: 1rem;
    }
    .allsongs .image{
        width: 2rem;
    }

}

@media screen and (max-width: 520px){
    header{
        padding: .5rem 2rem;
    }

    .form {
        width: 50%;
    }
    .card-body h5 {
        margin: 0% 1rem 0 2rem;
    }
    .trending{
        flex-direction: column-reverse;
    }
    .left{
        width: 80%;
        margin: auto;
        margin-bottom: 2rem;
    }
    .right{
        width: 80%;
        margin: auto;
        margin-bottom: 3rem;

    }
    .allsongs {

        margin-top: 3rem;
    }
    .trending #top {
        margin: 3rem auto;
    }
    header .nav-links img{
        width: 6rem;
    }
}
@media screen and (max-width: 400px){
    header .nav-links img{
        width: 5rem;
    }
   
    .left{
        width: 100%;
        margin: auto;
        
    }
    .right{
        width: 100%;
        margin: auto;
    }
   .list{
    overflow-x: hidden;
   }
}