<header>
    <div class="nav-links">
       <img [src]="'./assets/logo.png'" alt="VibeVault">
    </div>

    <div class="form">
        <form #form="ngForm" (keyup)="search(form.value)" class="search">
            <input id="input" ngModel type="text" name="input" placeholder="Type here to search" autocomplete="off">
            <i class='bx bx-search'></i>
            <div class="display" *ngIf="show"  >
                <ul>
                    <li *ngFor="let item of result"  (click)="[setPath(item,item.id),resetForm(form)]">{{item.title}}</li>
                </ul>
            </div>
        </form>
    </div>
</header>



<div class="trending">
    <div class="left">
      <h5 class="m-lg-2">Trending New Song</h5>
      
      <div id="top" class="d-flex container" [@fadeInOut]="song">
        <div class="text">
          <h3>{{ song.title }}</h3>
          <h5>{{ song.artist }}</h5>
  
          <div class="buttons mt-1">
            <button type="button" class="btn btn-primary" (click)="setPath(song,song.id)">Listen</button>
          </div>
        </div> 
        <div class="img">
          <img [src]="song.cover" alt="{{ song.title }} image">
        </div>
        
      </div>
  
      <h5 class="m-lg-2">All Songs</h5>
      <div class="allsongs">
  
        <div class="list">
          <div class=" cards" *ngFor="let item of allmusic">
        
            <div id="{{ this.music.source == item.source && this.isPlaying ? 'palying' : '' }}" class="card mb-3" (click)="start(item,item.id)" >
              <div class="row g-0">
                <div class="image">
                  <img [src]="item.cover" class="img-fluid rounded-start" alt="...">
                  <img id="video" *ngIf="this.music.source == item.source && this.isPlaying"  [src]="'./assets/pulse.gif'">
                  
                </div>
                <div id="list" class="d-flex align-content-center">
                  <div class="card-body d-flex justify-content-lg-between">
                    <div class="text d-flex">
                      <h5 class="card-title">{{item.title|titlecase}}</h5>
                      <p class="card-text">{{item.artist|titlecase}}</p>
                    </div>
                    
                    <i class='bx bx-play' id="play"  *ngIf="this.music.source != item.source || this.isPlaying == false" ></i>
                    <i class='bx bx-pause' id="play" *ngIf="this.music.source == item.source && this.isPlaying"></i>
                    </div>
                </div>
              </div>
            </div>
          </div>
          
          </div>
        </div> 
  
    </div>
  
  
    <div class="right d-flex "> 
  
      <div class="player-container d-flex flex-column">
        <div class="player-card">
          <img [src]="music.cover" alt="Album Cover" class="cover-image" />
          <h1>{{ music.title }}</h1>
          <p class="mb-3">{{ music.artist }}</p>
          <p class="album">{{ music.album }}</p>
  
          <div class="range d-flex">
  
            <p>{{time}}</p>
            <input type="range" [value]="currentTime" [max]="duration" (input)="seek($event)" />
            <p>{{fullduration}}</p>
          </div>
         
          
        </div>
        <div class="controls w-100">
          <i *ngIf="All == true" class='bx bx bx-shuffle text-black'  id="secialbtn" (click)="playAll()"></i>
          <i *ngIf="All == false" class='bx bx bx-shuffle'  id="secialbtn" (click)="playAll()"></i>
          <i class='bx bx-skip-previous' (click)="previous()" ></i>
          <button class="btn-primary" (click)="togglePlay()">{{ isPlaying ? '⏸' : '▶' }}</button>
          <i class='bx bx-skip-next' (click)="next()"></i>
          <a class="text-white" href="{{music.source}}" download>
          <i class='bx bx bx-download' id="download"></i></a>
        </div>
      </div>
      
    </div>
  
  </div>
  
  
  