<div class="playlist">
    <h2 class="text-white">Special Artist</h2>

    <div class="con text-white d-flex flex-wrap">

        <div class="box mt-3" (click)="setPlayList(1)" >
            <div class="card" style="width: 13rem;">
                <img [src]="'assets/295.jpg'" class="card-img-top" alt="...">
                <i class='bx bx-play' id="play"></i>
                <div class="card-body">
                  <h5 class="card-title m-3">Sidhu Moose Wala</h5>
                </div>
              </div>
        </div>

        <div class="box mt-3" (click)="setPlayList(2)" >
            <div class="card" style="width: 13rem;">
                <img [src]="'assets/Baller.jpg'" class="card-img-top" alt="...">
                <i class='bx bx-play' id="play"></i>
                <div class="card-body">
                  <h5 class="card-title m-3">Shubh</h5>
                </div>
              </div>
        </div>
    
        <div class="box mt-3" (click)="setPlayList(3)" >
            <div class="card" style="width: 13rem;">
                <img [src]="'assets/Jee Ni Lagda.jpg'" class="card-img-top" alt="...">
                <i class='bx bx-play' id="play"></i>
                <div class="card-body">
                  <h5 class="card-title m-3">Karan Aujla</h5>
                </div>
              </div>
        </div>

        <div class="box mt-3" (click)="setPlayList(4)" >
            <div class="card" style="width: 13rem;">
                <img [src]="'assets/cover.jpg'" class="card-img-top" alt="...">
                          <i class='bx bx-play' id="play"></i>
                <div class="card-body">
                  <h5 class="card-title m-3">All Songs</h5>
                </div>
              </div>
        </div>

    </div>


   
</div>
